<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="TourDLEntities" connectionString="metadata=res://*/MODELS.TOURDL.csdl|res://*/MODELS.TOURDL.ssdl|res://*/MODELS.TOURDL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VU-PC\SQLEXPRESS;initial catalog=TourDL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>