@{
    ViewBag.Title = "ThongKeNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Thống kê số lần đi tour của nhân viên</h2>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Nhập thông tin
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-lg-4">
                <label for="start" class="col-lg-4">Từ ngày:</label>
                <div class="form-group">
                    <div class='input-group col-lg-8  date' id='tungay'>
                        <input type='text' id="start" class="form-control " placeholder="dd/mm/yyyy" name="ngay" />
                        <span class="input-group-addon" id="btn_tungay">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
             <div class="col-lg-4">
                <label for="start" class="col-lg-4">Đến ngày:</label>
                <div class="form-group">
                    <div class='input-group col-lg-8  date' id='denngay'>
                        <input type='text' id="end" class="form-control " placeholder="dd/mm/yyyy" name="ngay" />
                        <span class="input-group-addon" id="btn_denngay">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <label for="start" class="col-lg-4">Nhân viên: </label>
                 <div class="form-group col-lg-8">
                @Html.DropDownList("dsNV", ViewBag.LayDSNV as SelectList, null, new { @class = "form-control",@id="tennv", @name = "tennv" })
                </div>
            </div>
            <div class="col-lg-4">
                <button id="laydulieu" class="btn btn-success">Lấy dữ liệu</button>
            </div>
            <div class="content_doanhthu">

            </div>


        </div>
    </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#dataTables-listtourNV").DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
                }
            });
      
            $('#tungay').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'DD-MM-YYYY'
            });
            $('#denngay').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'DD-MM-YYYY'
            });

            $("#laydulieu").on("click", function () {
              
                if ($('#start').val() != '' && $('#end').val() != '') {

                 
                        $("#laydulieu").text("Đang lấy dữ liệu...");
                        $(".content_doanhthu").load("/Thongke/LoadSoLanDiTourNV/" + $('#start').val() + "/" + $('#end').val() + "/" + $('#tennv').val(), function () {
                            $("#laydulieu").text("Lấy dữ liệu");
                        });
                  

                }
                else {alert("Nhập đầy đủ ngày") }
            });
        });
    </script>
}

